!<!DOCTYPE html>


<div>
  <label>Valor 1:  </label>
  <input type="number" [(ngModel)]="valor1">
  <label>Valor 2:  </label>
  <input type="number" [(ngModel)]="valor2">
 
</div>

<div  class="btn-group" role="group">
  <button class="btn btn-outline-primary active" (click)="onSuma()">
    <p class="simbolo">+</p> 
  </button>
  <button class="btn btn-outline-danger active " (click)="onResta()">
    -
  </button>
  <button class="btn btn-outline-success active" (click)="onMultiplicar()">
    *
  </button>
  <button class="btn btn-outline-warning active" (click)="onDividir()">
    /
  </button>
 
</div>

<div>
  Resultado: {{resultado}}
</div>
  
